*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: font-regular;
    src: url(https://typography.doordash.com/TTNorms-Regular.woff2);
}
@font-face {
    font-family: font-medium;
    src: url(https://typography.doordash.com/TTNorms-Medium.woff2);
}
@font-face {
    font-family: font-bold;
    src: url(https://typography.doordash.com/TTNorms-Bold.woff2);
}
@font-face {
    font-family: font-extrabold;
    src: url(https://typography.doordash.com/TTNorms-ExtraBold.woff2);
}
.container{
    background-image: url(img/doordash-mobile.avif); 
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
}
.profile{
    display: flex;
    font-family: font-bold;
    justify-content: flex-end;
    padding: 26px 24px 0 0;
}
.signup a{
    text-decoration: none;
    background-color: white;
    font-size: 16px;
    color: #494949;
    padding: 10px 16px 11px 16px;
    font-weight: 700;
    line-height: 18px;
    border-radius: 20px;
}
.signin a{
    text-decoration: none;
    color: white;
    font-size: 17px;
    padding: 0 16px;
    font-weight: 700;
}
.content{
    display: flex;
    flex-direction: column;
    padding: 50px 0 94px 0;
    align-items: center;
}
.logo-mobile{
    display: flex;
    justify-content: center;
}
.logo-lap{
    display: none;
}
.heading{
    font-size: 30px;
    font-weight: 700;
    line-height: 40px;
    font-family: font-bold;
    color: white;
    margin: 17px 0;
    max-width: 334px;
}
.heading p{
    text-align: center;
}
.searchbar{
    max-width: 275px;
    width: 100%;
    padding: 5px;
    border-radius: 50px;
    border: none;
    background-color: white;
    margin-top: 12px;
}
.search{
    display: flex;
    flex-direction: row;
    padding: 4px 6px 4px 7px;
    align-items: center;
    justify-content: space-between;
}
.search p{
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
    color: #716f6f;
    font-family: font-medium;
    margin-right: 24px;
}
.searchbtn1{
    display: none;
}
.searchbtn{
    display: flex;
}
.arrow{
    display: flex;
}
.arrow1{
    display: none;
}
.app{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: font-bold;
    margin: 0 16px;
    padding: 24px 0;
    max-width: 332px;
    margin-inline: auto;
    gap: 5px;
}
.app span{
    color: #191919;
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
}
.link{
    display: flex;
    flex-direction: row;
    padding: 8px 0;
    gap: 15px;
}
.dasher{
    display: flex;
}
.merchant{
    display: flex;
}
.get-app{
    padding: 8px 4px;
    display: flex;
    flex-direction: row;
    gap: 49px;
}
.get-app button{
    border: none;
    background-color: #eb1700;
    padding: 0 16px;
    color: white;
    border-radius: 50px;
    white-space: nowrap;
    font-weight: 700;
    font-size: 16px;
}
.get-app span{
    letter-spacing: -0.04ch;
}
.delivery{
    margin: 40px 0;
    padding: 8px;
}
.carrier-details h2{
    font-size: 32px;
    color: #191919;
    font-family: font-bold;
}
.carrier-details h3{
    color: #191919;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    font-family: font-medium;
}
.home-delivery{
    display: flex;
    flex-direction: row;
    padding: 16px;
}
.shop-delivery{
    display: flex;
    flex-direction: row;
    padding: 16px;
}
.online-delivery{
    display: flex;
    flex-direction: row;
    padding: 16px;
}
.carriers{
    margin-right: 32px;
}
.carriers img{
    width: 88px;
}
.lead{
    margin-top: 12px;
    display: flex;
    align-items: center;
    gap: 3px;
    color: #eb1700;
    font-size: 14px;
    font-family: font-bold;
}
.lead svg{
    padding: 3px;
}
.image-card-content1{
    display: flex;
    flex-direction: column;
    max-width: 400px;
    padding-left: 16px;
    padding-right: 81.6px;
    margin-left: auto;
    margin-right: auto;
}
.image-card-content1 span{
    margin-bottom: 8px;
    margin-top: 20px;
}
.image-card-content1 p{
    margin-bottom: 16px;
}
.overview span{
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: -0.04ch;
    color: #191919;
    font-family: font-bold;
}
.overview p{
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    color: #191919;
    font-family: font-bold;
}
.image-card1{
    display: flex;
    justify-content: flex-end;
    width: 82%;
    margin-left: auto;
    max-width: 469px;
}
.image-card1 img{
    width: 100%;
    height: 100%;
}
.image-card-content2{
    display: flex;
    flex-direction: column;
    max-width: 400px;
    padding-left: 16px;
    padding-right: 81.6px;
    margin-left: auto;
    margin-right: auto;
}
.image-card2{
    display: flex;
    width: 82%;
    max-width: 469px;
}
.image-card2 img{
    width: 100%;
    height: 100%;
}
.overview button{
    border: none;
    background-color: #eb1700;
    color: white;
    border-radius: 50px;
    white-space: nowrap;
    font-weight: 700;
    font-size: 14px;
}
.image-card-content1 button{
    width: 101.5px;
    min-height: 32px;
}
.image-card-content2 button{
    width: 131px;
    min-height: 32px;
}
.image-card-content2 span{
    margin-bottom: 8px;
    margin-top: 20px;
}
.image-card-content2 p{
    margin-bottom: 16px;
}
.section2{
    padding: 336px 0 96px;
}
@media screen and (min-width:768px) {
    .searchbtn{
        display: none;
    }
    .searchbtn1{
        display: flex;
    }
}
@media screen and (min-width:960px) {
    .heading{
        max-width: 668px;
        letter-spacing: -0.04ch;
        line-height: 76px;
        margin-top: 96px;
        margin-bottom: 16px;
    }
    .heading p{
        font-size: 64px;
    }
    .logo-lap{
        display: flex;
        margin-left: 12px;
    }
    .logo{
        display: flex;
        flex-direction: row;
        align-items: center;
        position: fixed;
        top: 16px;
    }
    .logo-mobile svg{
        width: 42px;
        height: 24px;
    }
    .content{
        padding: 8px 0 205px;
    }
    .search{
        padding-right: 0;
    }
    .search p{
        text-align: left;
    }
    .address{
        padding-right: 133px;
    }
}
@media screen and (min-width:1184px) {
    .arrow1{
        background-color: #eb1700;
        border-radius: 100%;
        display: flex;
        padding: 8px;
    }
    .arrow{
        display: none;
    }
    .searchbar{
        max-width: 408px;
        padding-top: 0;
        padding-bottom: 0;
    }
    .delivery{
        display: flex;
        flex-direction: row;
    }
    .home-delivery{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 16px;
        margin: 0 64px 0 17px;
    }
    .shop-delivery{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 16px;
        margin: 0 64px 0 17px;
    }
    .shop-delivery h2{
        width: 250px;
    }
    .online-delivery{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 16px;
        margin: 0 64px 0 17px;
    }
    .carriers img{
        width: 154px;
    }
    .lead{
        justify-content: center;
    }
}