*{
    font-family:'Segoe UI',SegoeUI,'Helvetica Neue',Helvetica,Arial,sans-serif;
}
/*     background-color: white; */
/*     display: flex;
    padding: 60px;
    grid-template-columns: repeat(5, 1fr); */
    
/*     align-items: center; */
    

/* header a{
    text-decoration: none;
    color: black;
    font-size: 50px;
    
}
header h2{
    font-size: 50px;
    margin-left: -40px;
    
} */
.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2%; 
    align-content: center;
}
.azure{
    display: flex;
    align-items: center;
}
.azure h2{
     font-size: 380%;
}
.icon{
    display: flex;
}
.signin{
    display: flex;
    
    align-items: center;
}
.signin a{
    text-decoration: none;
    color: black;
    font-size: 380%;
}
@media screen and (min-width:768px){
    display: none;
}